.navbar {
  font-weight: 600;
  font-size: 14px !important;
  color: #484848 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}

.heart {
  color: #e74c3c;
}

.logo {
  color: #2e86c1;
  margin: 0.4em;
}

.hero {
  margin-top: 2em !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px !important;
  border-radius: 10px;
}

.hero-img {
  height: 500px !important;
  width: auto !important;
  margin: 0 2em !important;
}

.landing-home {
  margin-top: 5em !important;
  margin-bottom: 12em !important;
}

.landing-text {
  margin: 4em 2em !important;
}

.landing-text h2 {
  color: #717d7e !important;
  margin-left: 1.5em;
}

.landing-btn {
  background: #2e86c1 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
  color: #fff !important;
  margin: 1em;
  margin-left: 2.3em;
  font-weight: 600;
}

.url-btn {
  background: #2e86c1 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
  font-weight: 600;
}

footer {
  margin-top: 8em;
}

.is-static {
  background: #e5e7e9 !important;
  color: #95a5a6 !important;
}

/* @media queries */

@media (max-width: 980px) {
  :root {
    font-size: 70%;
  }

  .landing-text {
    margin-right: 5rem !important;
    margin-bottom: 0 !important;
  }

  .hero {
    width: 900px !important;
    height: auto !important;
  }
  .landing-home {
    margin: 5rem !important;
  }

  .hero-img {
    margin-right: 6rem !important;
    margin-top: 1rem !important;
    margin-bottom: 6rem !important;

    width: 400px !important;
    height: auto !important;
  }

  .footer-para {
    margin-left: 1.5rem !important;
  }

  .modal {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 75%;
  }

  .landing-text {
    margin-right: 5rem !important;
    margin-bottom: 0 !important;
  }

  .hero {
    width: 650px !important;
    height: auto !important;
  }

  .hero-img {
    margin-right: 11rem !important;
    margin-top: 1rem !important;
    margin-bottom: 6rem !important;

    width: 400px !important;
    height: auto !important;
  }

  .footer-para {
    margin-left: 1.5rem !important;
  }

  .modal {
    padding: 3rem;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 50%;
  }

  .landing-text {
    margin-right: 5rem !important;
    margin-bottom: 0 !important;
  }

  .hero {
    width: 350px !important;
    height: auto !important;
  }

  .hero-img {
    margin-right: 7rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;

    width: 220px !important;
    height: auto !important;
  }

  .footer-para {
    margin-left: 1.5rem !important;
  }

  .modal {
    padding: 2rem;
  }
}
